[submodule "site-lisp/cedet"]
	path = site-lisp/cedet
	url = http://git.code.sf.net/p/cedet/git
[submodule "site-lisp/window-numbering"]
	path = site-lisp/window-numbering
	url = https://github.com/nschum/window-numbering.el.git
