*~
el-get/
ac-comphist.dat
places
elpa/
ede-projects.el
projectile-bookmarks.eld
projectile.cache
semanticdb/
srecode-map.el
/irony/
/.org-id-locations
/eshell/
/.bookmarks.el
/.python-environments/
/games/
